@use '../../../styles/helpers' as *;

.work-exp {
  margin-top: rem(100);

  &__title {
    font-size: rem(44);

    span {
      color: var(--text-violet-color);
    }
  }

  &__subtitle {
    font-size: rem(34);
    position: relative;
    margin-top: rem(15);

    @include hover {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      width: 20px;
      height: 20px;
      background-image: url("../../../static/icons/link.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__person-position {
    color: var(--text-violet-color);
    margin-bottom: rem(25);
  }

  &__description {
    margin-bottom: rem(25);
  }
}