@use '../../../styles/helpers' as *;

.header {
  &__logo {
    transition-duration: var(--transition-duration);

    @include hover {
      svg {
        fill: blueviolet;
      }
    }
  }

  &__inner {
    padding-top: rem(24);
    padding-inline: rem(350);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    column-gap: rem(34);
    font-size: rem(24);

    &-link {
      padding-top: rem(24);
      padding-bottom: rem(24);
    }
  }

  &__switch-theme-button {
    background-color: var(--basic-site-color);
    width: rem(50);
    position: relative;
    height: rem(50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: var(--transition-duration);
    border: 1px solid var(--basic-site-color);
    box-shadow: var(--shadow);

    @include hover {
      border: 1px solid var(--text-violet-color);
    }
  }
}

body:has(.false) {
  .header__switch-theme-button {
    &::after {
      position: absolute;
      content: ' ';
      width: rem(24);
      height: rem(24);
      background-image: url("../../../static/icons/sun.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

body:has(.light-mode) {
  .header__switch-theme-button {
    box-shadow: var(--soft-shadow);

    &::after {
      position: absolute;
      content: ' ';
      width: rem(24);
      height: rem(24);
      background-image: url("../../../static/icons/moon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}