@use 'helpers' as *;

body {
  background-color: var(--basic-site-color);
  color: var(--text-color);
  font-family: sans-serif;
}

.light-mode {
  --basic-site-color: white;
  --text-color: black;
  --transition-duration: 0.3s;
  background-color: var(--basic-site-color);
  color: black;
}


a {
  color: var(--text-color);
  text-decoration: none;
  transition-duration: var(--transition-duration);

  @include hover {
    color: var(--text-violet-color);
  }
}