@use 'helpers' as *;

:root {
  --basic-site-color: #191820;
  --dark-color: #100f12;
  --shadow:
    -2px -4px 8px rgba(255, 255, 255, 0.15),
    2px 6px 12px rgba(0, 0, 0, 0.6);

  --shadow-image:
    -2px -4px 8px rgba(255, 255, 255, 0.05),
    2px 8px 16px rgba(0, 0, 0, 0.8);

  --inside-shadow:
    inset
    2px 6px 12px rgba(0, 0, 0, 0.6),
    -2px -4px 8px rgba(255, 255, 255, 0.15);

  --soft-shadow-inside:
    inset
    2px 6px 6px rgba(0, 0, 0, 0.3),
    -2px -4px 6px rgba(255, 255, 255, 0.2);

  --soft-shadow:
    2px 6px 6px rgba(0, 0, 0, 0.3),
    -2px -4px 6px rgba(255, 255, 255, 0.2);

  --text-violet-color: #EE82EEFF;
  --text-color: white;
  --transition-duration: 0.3s;
}